%img{ :id=>"letterA", :src=>"letterA.png", :alt=>"letter A", :style=>"position: absolute; left: 10px; top: 10px;"} 
%img{ :id=>"letterB", :src=>"letterB.png", :alt=>"letter B", :style=>"position: absolute; left: 10px; top: 10px;"} 
%img{ :id=>"letterC", :src=>"letterC.png", :alt=>"letter C", :style=>"position: absolute; left: 10px; top: 10px;"}
%img{ :id=>"letterD", :src=>"letterD.png", :alt=>"letter D", :style=>"position: absolute; left: 10px; top: 10px;"}