%img{ :id=>"letterA", :src=>"letterA.png", :alt=>"letter A", :style=>"position: absolute; left: 10px; top: 10px;"}
%img{ :id=>"letterB", :src=>"letterB.png", :alt=>"letter B", :style=>"position: absolute; left: 10px; top: 10px;"}
%img{ :id=>"letterC", :src=>"letterC.png", :alt=>"letter C", :style=>"position: absolute; left: 10px; top: 10px;"}
%img{ :id=>"letterD", :src=>"letterD.png", :alt=>"letter D", :style=>"position: absolute; left: 10px; top: 10px;"}
%img{ :id=>"letterE", :src=>"letterE.png", :alt=>"letter E", :style=>"position: absolute; left: 10px; top: 10px;"}
%img{ :id=>"letterF", :src=>"letterF.png", :alt=>"letter F", :style=>"position: absolute; left: 10px; top: 10px;"}
%img{ :id=>"letterG", :src=>"letterG.png", :alt=>"letter G", :style=>"position: absolute; left: 10px; top: 10px;"}
%img{ :id=>"letterH", :src=>"letterH.png", :alt=>"letter H", :style=>"position: absolute; left: 10px; top: 10px;"}
%img{ :id=>"letterI", :src=>"letterI.png", :alt=>"letter I", :style=>"position: absolute; left: 10px; top: 10px;"}
%img{ :id=>"letterJ", :src=>"letterJ.png", :alt=>"letter J", :style=>"position: absolute; left: 10px; top: 10px;"}
%img{ :id=>"letterK", :src=>"letterK.png", :alt=>"letter K", :style=>"position: absolute; left: 10px; top: 10px;"}
%img{ :id=>"letterL", :src=>"letterL.png", :alt=>"letter L", :style=>"position: absolute; left: 10px; top: 10px;"}