!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :"xml:lang" =>"en", :lang =>"en" }
  %head
    %title
      JPoz
    %meta{ :name=>"viewport", :content=>"width = device-width, user-scalable = no, height = device-height"}
    %script{:type=>"text/javascript",:src => 'jape.js'}
    %script{:type=>"text/javascript",:src => 'application.js'}
  %body{:onload=>"init();"}
    = yield